# Training & Core
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*
*.pth
*.pt
*.ckpt
*.h5
.DS_Store
data/
deepfake/

# Reports and Artifacts
reports/
*.log
*.ipynb
.ipynb_checkpoints/
training.log
ddp_*.log
